.header {
    text-align: center;
    padding: 10px;
    background-color: #bfe4bd;
  }
  
  
.fuente1{
    font-family: 'Dancing Script' 
}

.fuente2{
    font-family: 'EB Garamond'
}


.fuente3{
    font-family: 'Lobster'
}
.fuente4{
    font-family: 'Source Serif Pro'
}
.boton {
    
    padding: 10px 5px;
    text-align: center;
   
}

