.header {
    text-align: center;
    padding: 32px;
  }
  
  
.fuente1{
    font-family: 'Dancing Script' 
}

.fuente2{
    font-family: 'EB Garamond'
}


.fuente3{
    font-family: 'Lobster'
}
.fuente4{
    font-family: 'Source Serif Pro'
}